In [90]:
import pandas as pd
import numpy as np

In [155]:
df = pd.read_csv(r'C:\Users\Пользователь.DESKTOP-D8OKDU5\Projects\Notebooks\DataSet\archive_usa_2020\president_county.csv')

In [179]:
df['state']

0                   Delaware
1                   Delaware
2                   Delaware
3       District of Columbia
4       District of Columbia
                ...
4628                 Arizona
4629                 Arizona
4630                 Arizona
4631                 Arizona
4632                 Arizona
Name: state, Length: 4633, dtype: object

In [178]:
df['state'].unique()

array(['Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii',
       'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
       'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Alabama', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Alaska', 'Arizona'],
      dtype=object)

In [181]:
df = df.drop(labels='county', axis=1)

In [182]:
df

                     state  current_votes  total_votes  percent
0                 Delaware          86958        88000       95
1                 Delaware         286133       293878       95
2                 Delaware         129293       125000       95
3     District of Columbia          31260        45392       69
4     District of Columbia          27259        37140       73
...                    ...            ...          ...      ...
4628               Arizona          14993        14995       95
4629               Arizona           3685         3690       95
4630               Arizona           6671         7500       89
4631               Arizona        2038832      2072000       95
4632               Arizona         103692       106000       95

[4633 rows x 4 columns]

In [190]:
votes = df.groupby(['state'])['current_votes','total_votes'].sum()

<ipython-input-190-a69f950776ca>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  votes = df.groupby(['state'])['current_votes','total_votes'].sum()

In [192]:
percent = df.groupby(['state'])['percent'].mean()

In [200]:
votes.shape

(51, 2)

In [201]:
percent.shape

(51,)

In [202]:
votes['percent']=percent

In [203]:
votes

                      current_votes  total_votes    percent
state
Alabama                     2309900      2253098  97.164179
Alaska                       131885       366006  35.300000
Arizona                     3322535      3403744  94.200000
Arkansas                    1216818      1250053  93.226667
California                 14414296     15813337  85.500000
Colorado                    3173127      3222600  95.265625
Connecticut                 1786557      1839726  93.662722
Delaware                     502384       506878  95.000000
District of Columbia         279152       348619  79.750000
Florida                    11075706     11321757  96.746269
Georgia                     4983735      4963669  98.955975
Hawaii                       573854       551047  95.000000
Idaho                        867971       851364  95.500000
Illinois                    6467031      7258430  93.475728
Indiana                     3031629      3016145  96.793478
Iowa                        1686591      1755090  95.444444
Kansas                      1334330      1344214  94.085714
Kentucky                    2158802      2160178  95.225000
Louisiana                   2147395      2243288  90.984375
Maine                        783776       818764  69.817269
Maryland                    2497959      3002298  84.916667
Massachusetts               3453974      3666417  88.122507
Michigan                    5530390      5521614  98.650602
Minnesota                   3271288      3352818  95.344828
Mississippi                 1148432      1220616  91.804878
Missouri                    3010315      3063662  96.469565
Montana                      602777       579545  95.357143
Nebraska                     940210       945477  94.139785
Nevada                      1323719      1400801  92.117647
New Hampshire                803195       808641  95.240506
New Jersey                  3610021      4349127  83.809524
New Mexico                   919261       913487  94.575758
New York                    6641544      8904800  80.032258
North Carolina              5464097      5652431  95.750000
North Dakota                 361279       381701  89.207547
Ohio                        5769689      6209548  95.363636
Oklahoma                    1560699      1572973  95.298701
Oregon                      2334762      2283491  95.194444
Pennsylvania                6765139      6827967  95.477612
Rhode Island                 505201       519954  94.358974
South Carolina              2515926      2476893  96.282609
South Dakota                 422678       417502  95.015152
Tennessee                   3049471      3001162  95.147368
Texas                      11259148     11477729  91.468504
Utah                        1300030      1342573  93.275862
Vermont                      350178       363600  94.036585
Virginia                    4424408      4579264  93.969925
Washington                  3917784      3690423  92.897436
West Virginia                786188       789954  95.490909
Wisconsin                   3297473      3296839  99.000000
Wyoming                      276528       283098  94.782609